
 <nav class="menu">
 <ul>
   <li class="rond">
	 <a href="#">
	 <%= image_tag('https://lh3.googleusercontent.com/--9qjNzLm7MI/AAAAAAAAAAI/AAAAAAAAAAA/AAN31DXwQLF-wxV8AKeBZpuOu_vxwzWbMg/s32-c-mo/photo.jpg')%>
	 </a>
	 
   </li>
   
   <li class="cloche">
	 <a href="#">
	 <%= image_tag('cloche2.jpeg', width:'25') %>
	 </a>
	 
   </li>
   <li class="img">
   <a href="#">
   <%= image_tag('app2.png', width: '20') %>
   </a>
   </li>
   
   <li class="gmail">
	 <a href="#">
	   Images
	 </a>
   </li>
   
   <li class="gmail">
	 <a href="#">
	   Gmail
	 </a>
   </li>

 </ul>
 
</nav>

<div class="imagge">
<%= image_tag('google2.png', width: '45%') %>
</div>
   
<div class="search" style="border-width:15px;">
   <input class="searchinput" type="search" id="site-search" name="q"
		  placeholder= "Search the site...">
</div>

<div class="bouton">
<button class="recherche">
Google Search
</button>
<button class="chance">
I'm feeling lucky</button>
</div>
<div id = "chanlg">Google offered in: <a href="https://www.google.com/setprefs?sig=0_Bka2t5u7qp452A2Zzb36sPk4cH0%3D&hl=fr&source=homepage&sa=X&ved=0ahUKEwij47GprejdAhVIZFAKHUzfDMwQ2ZgBCAg"
>Français</a></div>

<div id="footer">
<div id="footerleft">
 <div id="footeradvert">
   <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=webhp&cd=&cad=rja&uact=8&ved=0ahUKEwiN_cD8vOfdAhUQxYUKHXK6AtwQkdQCCAw&url=https%3A%2F%2Fwww.google.com%2Fintl%2Fen_fr%2Fads%2F%3Fsubid%3Dww-ww-et-g-awa-a-g_hpafoot1_1!o2%26utm_source%3Dgoogle.com%26utm_medium%3Dreferral%26utm_campaign%3Dgoogle_hpafooter%26fg%3D1&usg=AOvVaw3tdg0Mx7vypqZqWEPaoyQV">Advertising</a>
 </div>
 <div id="footerbus">
   <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc.
   41=s&source=webhp&cd=&cad=rja&uact=8&ved=0ahUKEwiN_cD8vOfdAhUQxYUKHXK6AtwQktQCCA0&url=https%3A%2F%2Fwww.google.com%2Fservices%2F%3Fsubid%3Dww-ww-et-g-awa-a-g_hpbfoot1_1!o2%26utm_source%3Dgoogle.com%26utm_medium%3Dreferral%26utm_campaign%3Dgoogle_hpbfooter%26fg%3D1&usg=AOvVaw2SJ4zwRVXKyZr53qG9dm4K">Business</a>
 </div>
 <div id="footerabout">
   <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=webhp&cd=&cad=rja&uact=8&ved=0ahUKEwiN_cD8vOfdAhUQxYUKHXK6AtwQkNQCCA4&url=https%3A%2F%2Fwww.google.com%2Fintl%2Fen_fr%2Fabout%2F%3Futm_source%3Dgoogle.com%26utm_medium%3Dreferral%26utm_campaign%3Dhp-footer%26fg%3D1&usg=AOvVaw1hUXY6fryB6B2DZbB7DTpN">Abouts</a>
 </div>
</div>
<div id="footerright">
   <div id="footercon">
	 <a href="https://support.google.com/websearch?p=fr_consumer_info&hl=en-FR&fg=1">Consumer</a>
   </div>
   <div id="footerinf">
	 <a href="https://www.google.com/intl/en_fr/policies/privacy/?fg=1">Information</a>
   </div>
   <div id="footerpri">
	 <a href="https://www.google.com/intl/en_fr/policies/terms/?fg=1">PrivacyTerms</a>
   </div>
   <div id="footerset">
	 <a href="https://www.google.com/preferences?hl=en">Settings</a>
   </div>
</div>
</div>
</body>