/*
* = require_self
* = require bootstrap
* = require material_design
* = require material_design_icon
*/

body {
	height: 100%;  
	font-family: 'ABeeZee';
	font-size: 0.8em;
}

.imagge{
	padding-top: 160px;
	display: flex;
	justify-content:center;
	align-items:center;
	padding-left: 250px;
	padding-bottom: 60px;
	}

.search{
	display: flex; 
	flex-wrap: wrap;
	justify-content:center;
	height: 44px;
	background: #fff;
	}
.bouton{
	display: flex; 
	flex-wrap: wrap;
	justify-content:center;
	margin: 11px 4px;
	}
.searchinput{
	width: 630px;
	padding-left: 7px;
	}
.recherche{
    height: 36px;
    line-height: 27px;
    font-size: 13px;
    padding: 0 16px;
    margin: 11px 4px;
    border: none;
    background-color:#E5E5E5;
}
.recherche:hover{
    height: 36px;
    line-height: 27px;
    font-size: 13px;
    font-weight: bold;
    padding: 0 16px;
    margin: 11px 4px;
    color: black;
	background-color:#E5E5E5;
	border: 1px solid #b6b6b6;
	}
.chance{
	height: 36px;
    line-height: 27px;
	font-size: 13px;
    margin: 11px 4px;
    padding: 0 16px;
    border: none;
    background-color:#E5E5E5;
}

.chance:hover{
	 height: 36px;
    line-height: 27px;
    font-size: 13px;
    font-weight: bold;
    padding: 0 16px;
    margin: 11px 4px;
    color: black;
	background-color:#E5E5E5; 
	border: 1px solid #b6b6b6;
}

nav.menu ul li.gmail {
	display: flex; 
	float: right;
    padding: 0 5px;
    margin: 9px 4px;
}
nav.menu ul li.gmail:hover a{
	text-decoration: underline;
	background-color:white;
	color:#7F7F7F;
}
nav.menu ul li.gmail a{
	text-decoration: none;
	color: black;
}
nav.menu ul li.rond {
	display: flex; 
	float: right;
	padding-left: 15px;
}
nav.menu ul li.rond a img{
	display: flex; 
	float: right;
	border-radius: 50%;
	padding-top: 2px;
}
nav.menu ul li.img {
	display: flex; 
	float: right;
	padding-right: 15px;
	padding-left: 15px;
}

nav.menu ul li.cloche{
	display: flex; 
	float: right;
	padding-top: 5px;
}
nav.menu ul li.cloche a img{
	
	border-radius: 50%;
}
.micro{
	border: none;
	background-color: rgba(255, 255, 255, 1);

}
.img{
	padding-top: 8px;
}
#footer{
    display: flex;
    justify-content: space-between;;
    height: 40px;
    position: fixed;
    right: 0;
   bottom: 0 !important;
   width: 100%;
    background-color: #f2f2f2;
   border-left: none;
   border-right: none;
   border-top: 1px solid #e4e4e4;
}
#footer1{
    display: flex;
    height: 40px;
    right: 0;
   	margin-bottom: 0 !important;
   	width: 100%;
    background-color: #f2f2f2;
   	border-left: none;
   	border-right: none;
   	border-top: 1px solid #e4e4e4;
}
#footer a {
    text-decoration: none;
    color: #717171;
    font-size: 14px;
}

#footer a:hover {
    text-decoration: underline;
}

#footerleft{
    display: flex;
    align-items: center;
    margin-left: 15px;
}

#footeradvert{
    padding-left: 10px;
    text-decoration: none;
}

#footerbus{
    text-decoration: none;
    padding-left: 15px;
}

#footerabout{
    padding-left: 15px;
}

#footerright{
    display: flex;
    align-items: center;
}

#footercon{
    padding-left: 10px;
}

#footerinf{
    padding-left: 15px;
}

#footerpri{
    padding-left: 15px;

}

#footerset{
    padding-left: 15px;
    margin-right: 15px;
}



#footer{
	display: flex;
	justify-content: space-between;;
	height: 32px;
	position: fixed;
	right: 0;
    bottom: 0 !important;
    width: 100%;
	background-color: #f2f2f2;
	font-size: 14px;
	
}
#footer a {
	text-decoration: none;
	color: #717171;
}

#footerleft{
	display: flex;
	align-items: center;
	margin-left: 15px;
}

#footeradvert{
	padding-left: 10px;
	text-decoration: none;
}

#footerbus{
	text-decoration: none;
	padding-left: 15px;
}

#footerabout{
	padding-left: 15px;
}

#footerright{
	display: flex;
	align-items: center;
}

#footercon{
	padding-left: 10px;
}

#footerinf{
	padding-left: 15px;
}

#footerpri{
	padding-left: 15px;
}

#footerset{
	padding-left: 15px;
}

#chanlg{
	display:flex;
	justify-content: center;
}